.selected-option{
  background-color: #e0e0e0;
}
.correct-option{
  background-color: #e7f8eb;
}

.hint{
  padding-top: 10px ;
    color:  red;
    font-size: 18px;
}

  .quiz-container {
    border-radius: 8px;
    padding: 10px 20px;
  }

  .question {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .options-container {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
  }


  .option-container {
    display: flex;
    flex-direction: column;

  }

  .option {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .option:hover {
    background-color: #e0e0e0;
  }

  .option:disabled {
    pointer-events: none;
    opacity: 1;
    color: #333;
  }

 /*-- Timer style-- */
  .timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;

  }

  .timer {
    font-size: 30px;
    font-weight: bold;
    width: 60px;
    height: 60px;
    border: 3px solid #3498db;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #3498db;
  }