
.result-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .score-container {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .good-job {
    color: green;
  }
  
  .can-do-better {
    color: red;
  }
  